@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse.woff2') format('woff2'),
        url('./fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root.light {
    --bg-color: #202020;
    --title-color: #ececec;
    --logo-color: invert(0.05);
    --highlight-box: rgba(0, 0, 0, 0.08);
    --foot-color: #eee;
    --night-image: none;
    --bg-color-boxes: #f6fbff;
    --bg-form-color: #fefefe;
    --btn-color: #598baf;
    --btn-hover: #598bafaa;
    --btn-active: #3a8ab3;
    --btn-text: #fff;
}

:root.dark {
    --bg-color: #202020;
    --title-color: #090909;
    --logo-color: invert(0.9);
    --highlight-box: rgba(0, 0, 0, 0.06);
    --foot-color: #7b7b7b;
    --day-image: none;
    --bg-color-boxes: #deecf5;
    --bg-form-color: #fbfbfb;
    --btn-color: #2c5277;
    --btn-hover: #2c5277aa;
    --btn-active: #4a6e93;
    --btn-text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: Helvetica, Arial,  sans-serif;
    font-size: 16px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.header {
    width: 420px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header .day {
    display: var(--day-image);
}

.header .night {
    display: var(--night-image);
}

.header .background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header div {
    font-family: Norse;
    font-size: 3rem;
    margin-top: 180px;
    padding: 15px 0;
    height: 145px;
    background-color: var(--highlight-box);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100%;
    object-fit: contain;
    filter: var(--logo-color);
}

.title {
    color: var(--title-color);
}

.header .foot {
    margin-top: auto;
    margin-bottom: 13px;
    font-size: 0.7rem;
    align-self: center;
    color: var(--foot-color);
}

.header a {
    color: var(--foot-color);
    text-decoration: none;
}

.information {
    width: 690px;
}

.description {
    height: 34%;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 155px 80px 0 35px;
    background-color: var(--bg-color-boxes);
}

.form {
    height: 32%;
    font-size: 1.2rem;
    font-weight: 550;
    color: #232323;
    background-color: var(--bg-form-color);
    position: relative;
    padding: 40px 120px 0 35px;
    box-shadow: 0px 3px 8px -4px #888888;
}

.sign-up {
    font-size: 0.65rem;
    line-height: 1.5;
    letter-spacing: 1px;
}

.form-row {
    margin: 20px 0;
    display: flex;
}

.form-row div {
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-row input {
    padding: 3px 7px;
    font-size: 0.9rem;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

.form-row input:focus {
    border: 1px solid blue;
    box-shadow: 0 1px 3px #888888;
}

.form-row input[type="password"]:invalid {
    border: 1px solid rgb(197, 0, 0);
}

.button-container {
    height: 34%;
    padding: 30px 35px;
    background-color: var(--bg-color-boxes);
}

.btn {
    margin-bottom: 28px;
    padding: 8px 35px;
    border-radius: 7px;
    border: none;
    background-color: var(--btn-color);
    color: var(--btn-text);
    font-size: 1rem;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    background-color: var(--btn-active);
}

.button-container p {
    color: #232323;
}

.button-container a {
    text-decoration: none;
    color: var(--btn-color);
    font-weight: 600;
}

.theme-color {
    position: relative;
    border: none;
    cursor: pointer;
}

.theme-color:hover {
    filter: invert(0.5);
}

.theme-color:active {
    filter: blur(0.8px);
}

.theme-color .dark {
    position: absolute;
    top: 10px;
    left: 655px;
}